{{#each this}}
<div class="photo-card">
  <img class='image'src="{{webformatURL}}" alt="{{tags}}" data-source="{{largeImageURL}}" loading='lazy''/>
  <div class="info">
    <p class="info-item">
      <i class="material-icons">thumb_up</i>
      {{likes}}
    </p>
    <p class="info-item">
      <i class="material-icons">visibility</i>
      {{views}}
    </p>
    <p class="info-item">
      <i class="material-icons">comment</i>
      {{comments}}
    </p>
    <p class="info-item">
      <i class="material-icons">download</i>
      {{downloads}}
    </p>
   </div>
   
</div>
{{/each}}