{{#each this}}
<div class="photo-card">
  <a href="{{largeImageURL}}">
  <img class="img" src="{{webformatURL}}" alt="{{tags}}" loading="lazy"/>
  </a>
  <div class="stats">
    <p class="info-item">
      <i class="material-icons">Likes</i>
      {{likes}}
    </p>
    <p class="info-item">
      <i class="material-icons">view</i>
      {{views}}
    </p>
    <p class="info-item">
      <i class="material-icons">comment</i>
      {{comments}}
    </p>
    <p class="info-item">
      <i class="material-icons">cloud_download</i>
      {{downloads}}
    </p>
   </div>
   
</div>
{{/each}}